body{

	background-color: #D8E3E7;
		max-width: 60em;
		margin: auto;
	    color: #132C33;
		background-size: 1400px;

	}

table, td{
	border : 1px solid;
}

main{
	display: block;
}

textarea{
	resize: none;
}

.inputNum{
	width: 2em;
}

.menu ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.menu a{
    font-size: 1em;
    margin: auto;
	text-decoration: none;
    color: #132C33;
	font-weight: 600;

}

.menu li{
	margin-top: 20px;
}
.menu{
	background-color: bisque;
	height: 60px;
	border-radius: 3px;
}

.error {
    color: #f00;
}
