body{

	background-color: #D8E3E7;
		max-width: 60em;
		margin: auto;
	    color: #132C33;
		background-size: 1400px;

	}

table, td{
	border : 1px solid;
}

main{
	display: block;
}

textarea{
	resize: none;
}

.inputNum{
	width: 2em;
}

.menu ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.menu a{
    font-size: 1em;
    margin: auto;
	text-decoration: none;
    color: #132C33;
	font-weight: 600;

}

.menu li{
	margin-top: 20px;
}
.menu{
	background-color: bisque;
	height: 60px;
	border-radius: 3px;
}

.error {
    color: #f00;
}

/**/
form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }



a {color: crimson; font-weight: 600; transition: all 0.8s cubic-bezier(.14,1.36,.5,.5); display: inline-block; }
a:hover { transform: scale(1.1) }
